* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}

strong {
    font-weight: bold;
}

.entrada {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #FFFFFF;
}

.logo {
    width: 150px;
    height: 106px;

    margin: 80px 0;
}

.inputUsuario {
    width: 300px;
    height: 50px;

    text-align: center;

    border-width: 1px;
    border-color: lightgray;
    outline: 0;

    border-radius: 5px;

    margin-bottom: 20px;
}

.botaoEntrar {
    width: 100px;
    height: 40px;

    text-align: center;

    border-width: 1px;
    border-color: lightgray;
    color: rgb(119, 119, 119);

    border-radius: 5px;
}

.topo, .rodape {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;

    position: fixed;

    background: #FFFFFF;
}

.topo{
    top: 0;
}

.rodape {
    bottom: 0;
}

.topo nav, .rodape div{
    width: 375px;
    height: 100%;

    display: flex;
    justify-content:space-between;
    align-items: center;
}

.topo nav {
    padding: 0 22px;
}

.rodape div{
    padding: 0 17px;
}

.topo nav img {
    width: 75px;
    height: 53px;

    margin-top: 16px;

    background: #FFFFFF;
}

.topo nav ion-icon {
    font-size: 42px;
}

.rodape div ion-icon {
    font-size: 32px;
}

.container {
    width: 100%;

    display: flex;
    justify-content: center;

    position: absolute;
    top: 80px;
    bottom: 80px;
    background-color: #F3F3F3;
}

.container section {
    padding-bottom: 5px;
    height: 100%;
    width: 375px;

    overflow: hidden;
}

.mensagem {
    display: flex;
    align-items: center;

    width: 100%;
    height: fit-content;
    margin: 4px 0;
    padding: 10px 0;
    
    border-radius: 2px;
}

/* .texto {
    height: 20px;
    background-color: lime;
    overflow-wrap: break-word;
    word-wrap: break-word;

} */


.nomes {
    display: flex;
    justify-content: space-between;
}

.from {
    margin-right: 4px;
}

.to {
    margin-left: 4px;
}

.tempo {
    display: flex;
    justify-content: center;
    width: 80px;
}

.containerAsside {
    display: none;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.sair {
    width: calc(50% - 50px);
    height: 100%;

    position: absolute;
    left: 0;
}

.participantesAtivos {
    width: calc(50% + 50px);
    height: 100%;

    padding-left: 20px;

    background-color: #FFFFFF;
    
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.containerInternoAsside {
    width: 200px;
}

.containerInternoAsside span {
    display: flex;
    align-items: center;

    margin: 4px 0;

    font-size: 16px;
    line-height: 19px;
}

.containerInternoAsside ion-icon {
    font-size: 22px;
    margin-right: 10px;
}

.containerInternoAsside h2{
margin: 20px 0;

    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.visibilidade, .participante {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    background: #DCDCDC;
}

.private {
    background: #FFDEDE;
}

.message {
    background: #FFFFFF;
}

.inputMensagem {
    width: 300px;
    height: 60px;
    border: 0;
    outline: 0;
    font-style: italic;
    background-color: #FFFFFF;
}

.hide {
    display: none;
}

.checked {
    display: none;
    color: green;
}

.flex {
    display: flex;
}

/* .teste  {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 25px 0 5px 0;
    height: 100%;
    width: 375px;
    background-color: red;
    opacity: 0.5;
    z-index: 99;
    margin: auto;

    overflow: hidden;
} */

/* .teste2 {
    height: 100%;
    width: 100%;
    background-color: coral;
} */