* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}

strong {
    font-weight: bold;
}

.entrada {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #FFFFFF;
}

.logo {
    width: 150px;
    height: 106px;

    margin: 80px 0;
}

.inputUsuario {
    width: 300px;
    height: 50px;

    text-align: center;

    border-width: 1px;
    border-color: lightgray;
    outline: 0;

    border-radius: 5px;

    margin-bottom: 20px;
}

.botaoEntrar {
    width: 100px;
    height: 40px;

    text-align: center;

    border-width: 1px;
    border-color: lightgray;
    color: rgb(119, 119, 119);

    border-radius: 5px;
}

.topo, .rodape {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;

    position: fixed;

    background: #FFFFFF;
}

.topo{
    top: 0;
}

.rodape {
    bottom: 0;
}

.topo nav, .rodape div{
    width: 375px;
    height: 100%;

    display: flex;
    justify-content:space-between;
    align-items: center;
}

.topo nav {
    padding: 0 22px;
}

.rodape div{
    padding: 0 17px;
}

.topo nav img {
    width: 75px;
    height: 53px;

    margin-top: 16px;

    background: #FFFFFF;
}

.topo nav ion-icon {
    font-size: 42px;
}

.rodape div ion-icon {
    font-size: 32px;
}

.container {
    width: 100%;

    display: flex;
    justify-content: center;

    position: absolute;
    top: 80px;
    bottom: 80px;
    background-color: #F3F3F3;
}

.container section {
    padding-bottom: 5px;
    height: 100%;
    width: 375px;

    overflow: auto;
}

.mensagem {
    display: inline-block;
    word-wrap: break-word;
    align-items: center;
    
    font-size: 14px;
    line-height: 16px;
    
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 4px 0;
    padding: 10px 4px;
    
    border-radius: 2px;
}

.tempo, .nomes {
    margin-right: 4px;
}

.containerAsside {
    display: flex;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.4s, opacity 0.4s linear;

    position: absolute;
    top: 0;
    bottom: 0;
    
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.transicao {
    visibility: visible;
    opacity: 1;
    transition-delay:0s;
}

.sair {
    width: calc(50% - 50px);
    height: 100%;

    position: absolute;
    left: 0;
}

.participantesAtivos {
    width: calc(50% + 50px);
    height: 100%;

    background-color: #FFFFFF;
    
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.containerInternoAsside {
    width: 200px;
    padding-left: 20px;

    overflow: auto;
}

.containerInternoAsside h2{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    
    margin: 20px 0;
}

.visibilidade, .participante {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.visibilidade ion-icon, .participante ion-icon {
    font-size: 22px;
    margin-right: 5px;
}

.visibilidade span, .participante span {
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 19px;
}

.visibilidade span p{
    margin-top: 5px;
}

.participante span p{
    width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status {
    background: #DCDCDC;
}

.private {
    background: #FFDEDE;
}

.message {
    background: #FFFFFF;
}

.inputMensagem {
    width: 300px;
    height: 60px;
    border: 0;
    outline: 0;
    font-style: italic;
    background-color: #FFFFFF;
}

.hide {
    display: none;
}

.checked {
    display: none;
    color: green;
}

.flex {
    display: flex;
}